.bs-example, 
.new-caption-area-snowbots, 
.new-caption-area-snake-app, 
.new-caption-area-281robot, 
.new-caption-area-wifipiano {
    margin: auto;
    color: #000
}

.carousel-caption {
	color: #000;
}